*{
    padding: 0;
    margin: 0;
}
.main{
    position: relative;
    width: 100%;
    height:600px;
      /* border: 1px solid #000; */
      /* background-color: brown; */
      background-image: url(./3.jpg);
      background-size: 100% 100%;
      display: flex;
      justify-content:flex-end;
      animation-name: flow;
      animation-duration: 20s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
}
@keyframes flow{
    10%{
      background-image: url(./1.jpg); 
      background-size: 100% 100%; 
    }
    30%{
        background-image: url(./2.jpg);
        background-size: 100% 100%;
    }
    60%{
        background-image: url(./3\ \(1\).jpg);
        background-size: 100% 100%;
    }
    100%{
        background-image: url(./6.jpg);
        background-size: 100% 100%;
    }

}
.p1{
    width:900px;
    Height:500px;
    background-color:rgb(37, 30, 30);
    opacity: 0.8;
}
.p1>h1{
    text-align: center;
    color: orangered;
    font-weight: lighter;
    font-size: 50px;
}
.p1>hr{
    position:absolute;
    left: 570px;
    width: 200px;
    background-color:white;
    height: 1px;
    border: none;
}
.ap{
    position: absolute;
    width: 500px;
    top: 80px;
    height: 150px;
    left: 420px;
    background-color: black;
    opacity: 0.8;
    /* border: 2px solid blue; */
    display: flex;
 
    justify-content:center;
    align-items: center;
    flex-direction: column;
}
.ap>h1{
    color: white;
    font-size: 100px;
    font-family: sans-serif;
    font-weight: lighter;
}
h1>span{
    color: orangered;
}
.hr{
    position:absolute;
    left: 570px;
    top: 250px;
    width: 200px;
    background-color:white;
    height: 1px;
    border: none;   
}
.p1>h2{
    position: absolute;
    color:orangered;
    font-size: 40px;
    font-family: sans-serif;
    font-weight: lighter;
    background-color: black;
    opacity: 0.8;
    padding: 5px;
    top: 300px;
    left: 520px;
}
.hor{position: absolute;
    width: 700px;
    height: 100px;
    /* border: 3px solid yellow; */
    bottom:100px;
    left: 300px;
    display: flex;
    justify-content:center;
    align-items: center;
}
.hor>ul{
    display: flex;
    justify-content:space-around;
    align-items: center;
    width: 500px;
    list-style: none;
    /* border: 1px solid #000; */
}
.hor>ul>li{
    color: white;
    border: 1px solid white;
    height: 20px;
    text-align: center;
    padding: 5px;
    border-left: none;
    border-right: none;
}
.hor>ul>li:hover{
    cursor: pointer;
}
.b{
    height: 250px;
    width: 250px;
    background-color: transparent;
    opacity: 1;
    display: flex;
    align-items:flex-end;
    justify-content:space-between;
    flex-direction: column;
}
.card{
    width: 100px;
    height: 100px;
    /* border: 1px solid #000; */
    background-image: url(./css1.png);
    background-size: 100% 100%;
}
.g{
    background-image: url(./css2.png);
    background-size: 100% 100%;
    height: 30px;
}
.h{
    background-image: url(./css3.png);
    background-size: 100% 100%;
    height: 40px;
}
.j{
    background-image: url(./css4.png);
    background-size: 100% 100%;
    height: 40px;
}
.card:hover{
    cursor: pointer;
}
.main1{
    position: relative;
    width: 100%;
    height: 350px;
    /* border: 1px solid blue; */
}
nav{
    width: 100%;
    height: 100px;
    background-color: black;
    position: sticky;
    top: 0;
    display: flex;
    justify-content:space-between;
    z-index: 1;
}
.nov{
    width: 50%;
    height: 100%;
    /* border: 1px solid white; */
}
.n{
    width: 20%;
    display: flex;
    justify-content:center;
    align-items: center;
}
.n>h1{
    color: white;
    font-weight: lighter;
    font-size: 40px;
}

.z>ul{
    /* border: 1px solid white; */
    list-style:none;
    display: flex;
    height: 100px;
    justify-content:space-around;
    align-items: center;
}
.z>ul>li{
    color: white;
}
.z>ul>li:hover{
    color: gray;
    cursor: pointer;
}
.spin{
    color:orangered;
}
.main2{
    position: relative;
    width: 100%;
    height: 250px;
    /* border: 3px solid yellow; */
    /* background-color: rgb(63, 52, 52); */
    background-image: url(./attach.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
}
.who{
    position: absolute;
    left: 150px;
    width: 700px;
    height:60%;
    /* border: 1px solid green; */
    display: flex;
    justify-content:space-evenly;
    flex-direction: column;
}
.who>h1{
    font-size: 50px;
    font-weight: lighter;
    color: white;
    /* border: 1px solid white; */
    width: 400px;
    word-spacing: -20px;
    transition-duration: 1s;
}
.who>h1:hover{
    transform:translate(10deg):
}
.para{
    font-size: 20px;
    color: white;
    background-color: black;
    opacity: 0.8;
    width: 640px;
}
.spon{
    color: orangered;
}
.what{
    position: relative;
    width: 100%;
    height: 500px;
    /* border: 1px solid blue; */
    /* background-color:rgb(63,52,52); */
     background-image: url(./1.jpg);
     background-size: 100% 100%;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    align-items: center;
}
.cird{
    width: 80%;
    height: 350px;
    /* border: 1px solid yellow; */
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    /* border: 1px solid #000; */

}
.cord{
    position: relative;
    width: 500px;
    height: 150px;
    background-color: black;
    box-shadow:1px 1px 5px 1px gray;
    border: 1px solid #000;
    overflow: hidden;
    z-index: 1;
    /* padding: 0px 0px 0px 20px; */
}
.cord>h1{
    color: white;
    font-weight: lighter;
    position: absolute;
    left: 20px;
}
.cord::after{
    content: "";
    position:absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: blue;
    position: absolute;
    left: 20px;
    top: 40px;
    z-index: -1;
    transition-duration: 2s;
}
.cord:hover::after{
    height: 200%;
    width: 200%;
    top: -50%;
    left: -20%;
}

.cord>p{
    position:absolute;
    color: white;
    position: absolute;
    font-size: 18px;
    left: 140px;
    top: 50px;
}
.heading{
    height: 10vh;
    width: 100%;
    background-color: rgba(217, 249, 238, 0.518);
    text-align: center;
    padding: 4vh 0vh 10vh 0vh ;
    background-attachment: fixed;
}
.heading p{
    padding-top: 4vh;
 width: 60%;
 margin-left: 20%;
}
.subLastMain{
    position: relative;
    width: 100%;
    height: 70vh;
    background-color: aquamarine;
}
.sublast{
position: absolute;
height: 80%;
width: 22%;
/* border: 1px solid #000; */
box-shadow: 3px 3px 10px 5px rgba(245, 222, 179, 0.422);
overflow: hidden;
border-radius: 14px;
}
.sublast::after{
    content: "";
    position: absolute;
    height: 40%;
    width: 40%;
    background-color: blue;
    border-radius: 50%;
    left: -25%;
    top: -25%;
    /* transform: translate(-50%, -50%); */
    transition-duration: 2s;
}
.sublast::before{
    content: "";
    position: absolute;
    height: 30%;
    width: 100%;
    /* background-color: blue; */
    /* border-radius: 50%; */
    /* left: -100%; */
    top: 40%;
    /* background-image: url(./13.jpg); */
    background: rgba(255, 255, 255, 0.509);
    background-size: 100% 100%;
    /* top: -25%; */
    /* transform: translate(-50%, -50%); */
    transition-duration: 2s;
}
.sublast:hover::before{
    top: 70%;
}
.sublast h1{
    font-family: monospace;
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}
.sublast p{
    font-family: monospace;
    /* font-style: italic; */
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}

.imag::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.358);
    /* border-radius: 50%; */
    /* left: -25%; */
    top: 100%;
    /* transform: translate(-50%, -50%); */
    transition-duration: 2s;
}
.sublast:hover .imag::after{
    top: 0%;
}
.imag::before{
    content: "";
    position: absolute;
    height: 40%;
    width: 40%;
    background-color: blue;
    border-radius: 50%;
    left: 82%;
    top:  82%;
    /* transform: translate(-50%, -50%); */
    transition-duration: 2s;
    z-index: 10;
}
.sublast:hover .imag::before{
     left: 75%;
     top: 75%;
}
.sublast:hover::after{
    top: -15%;
    left: -15%;
}
.imag{
    position: absolute;
    height: 70%;
    width: 100%;
    border: 1px solid #000;
    overflow: hidden;
    background-image: url(./ranausama.jpg);
    background-size: 100% 100%;
}
.imag2{
    background-image: url(./juttusama.jpg);
    background-size: 100% 100%;
}

.imag3{
    background-image: url(./adnanjutt.jpg);
    background-size: 100% 100%;
}

.imag4{
    background-image: url(./arslanjutt.jpg);
    background-size: 100% 100%;
}
.lowers{
    position: absolute;
    height: 30%;
    width: 100%;
    border: 1px solid red;
    top: 70%;
}
.sublast:nth-child(1){
    top: 10%;
    left: 6%;
}
.sublast:nth-child(2){
    left: 29%;
    top: 10%;
}
.sublast:nth-child(3){
    top: 10%;
    left: 52%;
}
.sublast:nth-child(4){
    top: 10%;
    left: 75%;
}




 /* ___________10th-section (Start)____________ */
 .tenth{
    height: 82vh;
    width: 100%;
    background-color: black;
    color: white;
    /* margin-top: 9vh; */
    position: relative;
}
.tenth>img{
    position: absolute;
    height: 16vh;
    width: 14vw;
    left: 3vw;
    top: 6vh;
}
.tenth>p{
    position: absolute;
    width: 32%;
    top: 33vh;
    left: 3vw;
}
.one-one{
  margin-top: 40vh;
  font-weight: bold;
  font-size: 20px;
}
.tenth-one{
    position: absolute;
    left: 60%; 
    top: 35vh;    
}
.tenth-one>h1{
    font-size: 22px;
}
.tenth-one>ol{
    list-style: none;
    margin-top: 30px;
}
.tenth-one>ol>li{
    margin-top: 2vh;
}

.tenth-two{
   position: absolute;
   left: 72%; 
   top: 35vh;    
}
.tenth-two>h1{
   font-size: 22px;
}
.tenth-two>ol{
   list-style: none;
   margin-top: 30px;
}
.tenth-two>ol>li{
   margin-top: 2vh;
}
.tenth-three{
   position: absolute;
   left: 83%; 
   top: 35vh;    
}
.tenth-three>h1{
   font-size: 22px;
}
.tenth-three>ol{
   list-style: none;
   margin-top: 30px;
}
.tenth-three>ol>li{
   margin-top: 2vh;
}
/* ___________10th-section (End)____________ */
 